{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Tables</title>
    <link rel="stylesheet" href="{% static 'styling/styles.css' %}">
</head>

<body>
    <ul>
        <li><a class="active" href="/lab-4">Home</a></li>
        <li><a href="add-note">Add Note</a></li>
        <li><a href="note-list">Note List</a></li>
    </ul>


    <div class="main">
        <h1>
            Notes List
        </h1>
        <table>
            <tr>
                <th>To</th>
                <th>From</th>
                <th>Title</th>
                <th>Message</th>
            </tr>
            {% for i in notes %}
            <tr>
                <td>{{i.to}}</td>
                <td>{{i.From}}</td>
                <td>{{i.title}}</td>
                <td>{{i.message}}</td>
            </tr>
            {% endfor %}
            <!-- END SECTION -->
        </table>
    </div>
</body>

</html>