{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Cards</title>
    <link rel="stylesheet" href="{% static 'styling/styles.css' %}">
</head>

<body>
    <ul>
        <li><a href="../lab-4">Home</a></li>
        <li><a href="add-note">Add Note</a></li>
        <li><a class="active" href="note-list">Note List</a></li>
    </ul>

    <div class="main">
        <h1>
            Notes List
        </h1>
        <div class="cards">
            {% for i in notes %}
            <div class="notecard">
                <h3>{{i.title}}</h3>
                <h4>To : {{i.to}}</h4>
                <h4>From : {{i.From}}</h4>
                <h4>{{i.message}}</h4>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
</body>

</html>