{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Friend</title>
    <link rel="stylesheet" href="{% static 'styling/styles.css' %}">
</head>

<body>
    <ul>
        <li><a href="../lab-4">Home</a></li>
        <li><a class="active" href="add-note">Add Note</a></li>
        <li><a href="note-list">Note List</a></li>
    </ul>

    <div class="main">
        <h1>
            Add Note
        </h1>

        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit">Submit</button>
        </form>
    </div>

</body>

</html>