<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{data.to}} <br>
    {{data.From}} <br>
    {{data.title}} <br>
    {{data.message}} <br>
</body>

</html>