<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Friend List</title>

    <style>
        body {
            background-image: linear-gradient(to right, #DEA4F5, #99F597);
            text-align: center;
        }

        table {
            table-layout: fixed;
            background-color: whitesmoke;
            width: 500px;
            border: 2px solid teal;
            border-radius: 20px;
            padding: 50px;
            margin: auto;
            color: black;
        }

        th {
            border: 2px solid teal;
        }

        td {
            border-bottom: 2px solid teal;
        }

        h1 {
            font-family: Candara;
        }
    </style>
</head>

<body>
    <h1>
        Friend List
    </h1>
    <table>
        <tr>
            <th>Name</th>
            <th>NPM</th>
            <th>DOB</th>
        </tr>
        {% for i in friends %}
        <tr>
            <td>{{i.name}}</td>
            <td>{{i.npm}}</td>
            <td>{{i.DOB}}</td>
        </tr>
        {% endfor %}
        <!-- END SECTION -->
    </table>

    <br>

    <div>
        <a href="add"><button>
                + Add Friend</button></a>
    </div>
</body>

</html>