<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Friend</title>
    <style>
        body {
            background-image: linear-gradient(to right, #DEA4F5, #99F597);
            text-align: center;
        }

        form {
            background-color: whitesmoke;
            width: 200px;
            border: 2px solid teal;
            border-radius: 20px;
            padding: 50px;
            margin: auto;
            color: black;
        }

        div {}

        h1 {
            font-family: 'Candara';
        }
    </style>
</head>

<body>
    <h1>
        Add Friend
    </h1>

    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <br>
        <button type="submit">Submit</button>
    </form>

    <br>

    <div>
        <a href="../lab-3"><button>
                < Back</button></a>
    </div>
</body>

</html>