body {
    background: linear-gradient(45deg, #7F7FD5, #86A8E7, #91EAE4) fixed;
    font-family: Arial, Helvetica, sans-serif;
}

div.main {
    margin-left: 15%;
    position: relative;
}

/*table di main page*/
table  {
    border-collapse: collapse;
    border-radius: 5px;
    width: 70%;
    padding: 1px 16px;
}

table td, table th {
    border: 1px solid #ddd;
    padding:8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}
table tr:nth-child(odd){background-color: #ffecec;}

table tr:hover {background-color: #ddd;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #051457;
    color: white;
}

/*navbar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #051457;
    position: fixed;
    left : 0;
    top : 0;
    height: 100%;
    overflow: auto;
  }
  
  
  li a {
    display: block;
    color: rgb(112, 102, 102);
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #86A8E7;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  /*notecard*/
  div.notecard {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(241, 179, 179, 0.3);
    background-color: whitesmoke;
    transition: 0.3s;
    padding: 2px 16px;
    border-radius: 5px;
  }
  
  /* On mouse-over, add a deeper shadow */
  div.notecard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  h3, h4 {
      font-family: Arial, Helvetica, sans-serif;
      font-weight: normal;
  }
  h1 {
      color: whitesmoke;
  }


  /*form*/
  form {
    color: rgb(255, 255, 255);
  } 

input[type=text],textarea, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit] {
  width: 100%;
  background-color: #051457;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  